@model TaskManager.Models.Task

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Save", "Task", FormMethod.Post))
{
<div class="form-horizontal">
    <h4>Task</h4>
    <hr />

    @Html.HiddenFor(model => model.Id)



    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Status, "Selecione o Status", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>

    </div>
    @if (ViewBag.Profiles != null)
    {

        <div class="form-group">
            <label for="SponsorId" class="control-label col-md-2">Reponsável</label>
            <div class="col-md-10">
                <select name="SponsorId" class="form-control">
                    @foreach (var profile in ViewBag.Profiles)
                    {
                        if (Model != null && Model.Sponsor.Id == profile.Id)
                        {
                            <option value=@profile.Id selected="selected">@profile.Name</option>
                        }
                        else
                        {
                            <option value=@profile.Id>@profile.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.Sponsor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SponsorId", new SelectList(ViewBag.Profiles, "Id", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>*@
    }
    else
    {
        @Html.HiddenFor(model => model.Sponsor)
    }

    @if (ViewBag.candidatesTaskDependecies != null)
    {
        <div class="form-group">
            <label for="TasksIds" class="control-label col-md-2">Sub-tarefas</label>
            <div class="col-md-10">
                <select name="TasksIds" multiple="multiple" class="form-control">
                    @foreach (var task in ViewBag.candidatesTaskDependecies)
                    {
                        if (ViewBag.SubTaskSelected.Contains(task.Id))
                        {
                            <option value=@task.Id selected="selected">@task.Description</option>
                        }
                        else
                        {
                            <option value=@task.Id>@task.Description</option>
                        }
                    }
                </select>
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>